body {
  display: flex;
  flex-direction: column;
  min-width: $mobile;
  min-height: 100vh;
  margin: 0 auto;

  color: var(--color-font-dark, black);
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;

  cursor: default;
  background-color: var(--color-white, white);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:not([href]) {
  cursor: default;
}

button {
  cursor: pointer;
}


/*
  Classes
*/


.visually-hidden:not(:focus):not(:active),
input[type="range"].visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
