include ../mixins/callback-form.pug

- const PHONE_PATTERN = "^((8|([\+]?7))([\-]| )?)?([\(]?[0-9]{3}[\)]?([\-]| )?)([0-9]|[\-]| ){7,10}$";

section(class="callback" id="callback")
  h2(class="callback__title").
    Закажи  переезд прямо сейчас
  p(class="callback__subtitle").
    Мы перезвоним в течении 10 секунд
  +callback-form(`callback`)
