main
  h1(class="visually-hidden").
    MOVEE - компания для помощи в перездах
  include ../blocks/banner
  include ../blocks/description
  include ../blocks/cost
  include ../blocks/autopark
  include ../blocks/reviews
  include ../blocks/callback
  include ../blocks/placement
