@mixin custom-button($color, $background-color) {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  padding: 18px;

  color: $color;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  background-color: $background-color;
  border: none;
  outline: none;
}

@mixin visible {
  position: relative;
  z-index: 1;

  opacity: 1;
  visibility: visible;
}

@mixin hidden {
  position: relative;
  z-index: -1;

  opacity: 0;
  visibility: hidden;
}
