$mobile: 320px;
$tablet: 760px;
$desktop: 1438px;

$offset: 14px;

$duration: 0.5s;

:root {
  --color-font-light: #F2F2F2;
  --color-font-dark: #333333;

  --color-gray: #808080;
  --color-gray-2: #675D5D;
  --color-gray-3: #EBEBEB;
  --color-gray-4: rgba(217, 215, 215, 0.8);
  --color-dark: #333333;
  --color-red: #FF352B;
  --color-white: #FFFFFF;
  --color-white-2: #F8FBFF;
  --color-blue: #3D9BE9;
  --color-blue-o30: rgba(61, 155, 233, 0.3);
  --color-yellow: #FED100;
  --color-yellow-2: #D8B61F;
}
