$border-size: 2px;

.action-button {
  position: relative;

  outline: none;
}

.action-button span {
  @include custom-button(
    var(--color-font-light, white),
    var(--color-red, red)
  );
}

.action-button:not(:disabled):hover span,
.action-button:not(:disabled):focus span {
  color: var(--color-dark, black);

  box-shadow: inset 0 0 0 2px var(--color-white, white);
}

.action-button:not(:disabled):hover span {
  text-decoration: underline;
}

.action-button:not(:disabled):active {
  filter: contrast(0.4);
}

.action-button:disabled {
  opacity: 0.1;
}

@media (min-width: $desktop) {
  .action-button {
    --button-stroke-color: var(--color-white, white);
  }

  .action-button span {
    position: relative;
    z-index: 2;

    padding: 15px;

    font-size: 24px;
    line-height: 29px;
  }

  .action-button::before {
    content: "";

    position: absolute;
    top: 9px;
    left: 10px;

    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;

    border: $border-size solid var(--button-stroke-color);

    transition: all $duration;
  }

  .action-button:not(:disabled):hover::before,
  .action-button:not(:disabled):focus::before {
    top: #{-$border-size};
    left: #{-$border-size};

    width: calc(100% + 2 * #{$border-size});
    height: calc(100% + 2 * #{$border-size});
  }

  .action-button:not(:disabled):hover span,
  .action-button:not(:disabled):focus span {
    box-shadow: none;
  }
}
