.callback {
  padding: $offset;
  padding-bottom: 71px;
}

.callback__title {
  margin: 48px auto 0;
  padding: 0 25px;

  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.callback__subtitle {
  margin-top: 10px;

  font-size: 15px;
  line-height: 20px;
  text-align: center;
}

@media (min-width: $tablet) {
  .callback__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
  }

  .callback__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
  }
}

@media (min-width: $desktop) {
  .callback {
    --callback-line-height: 24px;
    --callback-font-size: 20px;

    padding: 76px calc(50% - 1001px / 2) 123px;
  }

  .callback__title,
  .callback__subtitle {
    text-align: left;
    padding: 0;
  }
}
