$nav-offset: 16px;

.header {
  position: relative;

  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 27px $offset $nav-offset;

  background-color: var(--color-background-custom, yellow);
}

.header::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  content: "";

  display: block;
  width: 100%;
  height: 65px;

  background-color: var(--color-background-custom, yellow);
}

.header__logo {
  position: relative;
  z-index: 3;
}

.header__nav-toggle {
  position: relative;
  z-index: 3;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22px;
  width: 44px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  border: none;
  background-color: transparent;
  outline: none;

  &--no-js {
    display: none;
  }
}

.header__nav-toggle::before,
.header__nav-toggle::after {
  content: "";
}

.header__nav-toggle::before,
.header__nav-toggle::after,
.header__nav-toggle span {
  display: block;
  width: 100%;
  height: 2px;

  background-color: var(--color-dark, black);
}

.header__nav-toggle span {
  color: transparent;
  font-size: 0;

  overflow: hidden;
}

.header__nav-toggle:focus {
  &::before,
  &::after,
  & span {
    box-shadow: 2px 2px 2px 1px var(--color-gray-2, gray);
  }
}

.header__nav-toggle:hover {
  &::before,
  &::after,
  & span {
    box-shadow: 2px 2px 2px 1px var(--color-gray, gray);
  }
}

.header__nav-toggle:active {
  opacity: 0.5;
}

.header__nav {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 100%;
  margin-top: -100%;
  margin-bottom: -#{$nav-offset};
  margin-left: -#{$offset};
  margin-right: -#{$offset};

  visibility: hidden;

  &--opened {
    margin-top: $nav-offset;

    visibility: visible;

    transition: margin-top $duration;
  }

  &--closed {
    margin-top: -100%;

    visibility: hidden;

    transition: margin-top $duration;
  }

  &--no-js {
    margin-top: $nav-offset;

    visibility: visible;
  }
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.header__nav-item {
  width: 100%;
}

.header__nav-item:first-child::before,
.header__nav-item::after {
  content: "";

  display: block;
  width: 100%;
  height: 1px;

  background-color: var(--color-dark, black);
}

.header__nav-link {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 10px;

  color: var(--color-font-dark, black);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  cursor: pointer;
  outline: none;
}

.header__nav-link:hover,
.header__nav-link:focus {
  color: var(--color-white, white);

  background-color: var(--color-background-custom-focus, lightgray);
}

.header__nav-link:hover {
  text-decoration: underline;
}

.header__nav-link:active {
  opacity: 0.3;
}

.header__telephone {
  display: none;
}

@media (min-width: $tablet) {
  .header {
    flex-wrap: nowrap;
  }

  .header::before {
    content: none;
  }

  .header__logo {
    width: 115px;
    height: 37px;
  }

  .header__nav-toggle {
    display: none;
  }

  .header__nav {
    width: auto;
    margin: 0;

    visibility: visible;
  }

  .header__nav-item:first-child::before,
  .header__nav-item::after {
    content: none;
  }

  .header__nav-list {
    justify-content: center;
  }

  .header__nav-item {
    width: auto;
  }

  .header__nav-link:hover,
  .header__nav-link:focus {
    background-color: var(--color-background-custom, yellow);
  }

  .header__telephone {
    display: block;
    flex-shrink: 0;

    color: var(--color-font-dark, black);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;

    outline: none;
  }

  .header__telephone:focus {
    color: var(--color-white, white);
  }

  .header__telephone:hover {
    color: var(--color-white, white);
    text-decoration: none;
  }

  .header__telephone:active {
    opacity: 0.3;
  }
}

@media (min-width: $desktop) {
  .header {
    padding: 40px calc((50% - #{$desktop} / 2) + #{$offset}) 20px;
  }

  .header__nav-list {
    margin-left: 50px;
  }

  .header__nav-item {
    margin-right: 50px;
  }

  .header__nav-link {
    padding: 0;
  }

  .header__telephone {
    margin-right: 102px;

    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
}
